In [1]:
import pandas as pd
from sklearn import preprocessing, tree
from sklearn.model_selection import train_test_split

titanic = pd.read_csv("titanic.csv")
titanic

,PassengerId,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
...,...,...,...,...,...,...,...
1308,1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.00,male,0,0

## 轉換欄位值成為數值

In [3]:
label_encoder = preprocessing.LabelEncoder()
encoded_class = label_encoder.fit_transform(titanic["PClass"])
label_encoder

LabelEncoder()

In [4]:
encoded_class

array([1, 1, 1, ..., 3, 3, 3])

In [5]:

X = pd.DataFrame([titanic["SexCode"],
                  encoded_class]).T
X

      SexCode  Unnamed 0
0           1          1
1           1          1
2           0          1
3           1          1
4           0          1
...       ...        ...
1308        0          3
1309        0          3
1310        0          3
1311        0          3
1312        0          3

[1313 rows x 2 columns]

In [6]:
X.columns = ["SexCode", "PClass"]
X

      SexCode  PClass
0           1       1
1           1       1
2           0       1
3           1       1
4           0       1
...       ...     ...
1308        0       3
1309        0       3
1310        0       3
1311        0       3
1312        0       3

[1313 rows x 2 columns]

In [7]:
y = titanic["Survived"]
y

0       1
1       0
2       0
3       0
4       1
       ..
1308    0
1309    0
1310    0
1311    0
1312    0
Name: Survived, Length: 1313, dtype: int64

## 25% test size

In [8]:

XTrain, XTest, yTrain, yTest = train_test_split(X, y, test_size=0.25,
                                                random_state=1)

In [9]:

dtree = tree.DecisionTreeClassifier()
dtree.fit(XTrain, yTrain)

DecisionTreeClassifier()


## 準確率

In [11]:

preds = dtree.predict_proba(X=XTest)
pd.crosstab(preds[:,0], columns=[XTest["PClass"],
                                       XTest["SexCode"]])

PClass     1       2        3
SexCode    0   1   0   1    0   1
row_0
0.100000   0  53   0   0    0   0
0.112676   0   0   0  36    0   0
0.603774   0   0   0   0    0  53
0.666667  41   0   0   0    0   0
0.853147   0   0  29   0    0   0
0.882199   0   0   0   0  117   0