In [4]:
import pandas as pd
from sklearn import preprocessing, linear_model

titanic = pd.read_csv("titanic.csv")
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1313 non-null   int64
 1   Name         1313 non-null   object
 2   PClass       1313 non-null   object
 3   Age          756 non-null    float64
 4   Sex          1313 non-null   object
 5   Survived     1313 non-null   int64
 6   SexCode      1313 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 71.9+ KB

# 轉換欄位值成為數值

In [5]:
label_encoder = preprocessing.LabelEncoder()
encoded_class = label_encoder.fit_transform(titanic["PClass"])
pd.DataFrame([encoded_class, titanic["SexCode"]])

,0,1,2,3,4,5,6,7,8,9,...,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312
0,1,1,1,1,1,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
1,1,1,0,1,0,0,1,0,1,0,...,0,1,0,1,1,0,0,0,0,0

In [7]:

X = pd.DataFrame([encoded_class, titanic["SexCode"]]).T
X

In [ ]:
y = titanic["Survived"]

logistic = linear_model.LogisticRegression()
logistic.fit(X, y)
print("迴歸係數:", logistic.coef_)
print("截距:", logistic.intercept_)

In [2]:
preds = logistic.predict(X)
pd.crosstab(preds, titanic["Survived"])

Survived    0    1
row_0
0         840  222
1          23  228

## Accuracy

In [3]:
print((840+222)/(840+222+23+228))
print(logistic.score(X, y))

0.8088347296268088
0.8134044173648134